

.ExpensesCard {
    border: 1px solid black;
    padding: 15px;
    min-width: 280px;
    min-height: 150px;
    margin-bottom: 40px;
    margin-right: 50px;

    .card-item {
        margin-bottom: 5px;
    }

    .spent {
        display: flex;

        .date {
            margin-left: auto;
        }
    }

    .buttons {
        width: 100%;
        display: flex;

        .edit-btn {
            margin-left: auto;
            margin-right: 15px;
        }
    }
}